* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 0.5s;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo_container {
    height: 135px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: #212529;
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
}

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: linear-gradient(-135deg, #4eba8f, #34459b);
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    width: 100%;
    margin: 0 auto;
}

main {
    min-height: calc(100vh - 135px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.login_container {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px 33px 95px;
}

.login_container .login_pic {
    width: 316px;
}

.login_container .login_pic img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.login_container form {
    width: 290px;
}

.login_container .login_text {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}

.input_field {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

input {
    outline: none;
    border: none;
}

input::placeholder {
    color: #999;
}

.login_container input {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.login_container .envelope,
.login_container .lock {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    color: #666;
}

.remember_me {
    margin-left: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #999;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.9em;
}

input[type="checkbox"] {
    margin-top: 1px;
    appearance: none;
    width: 1.07em;
    height: 1.07em;
    border: 0.10em solid #999;
    border-radius: 0.30em;
    padding: 0;
    background-color: white;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.57em;
    height: 0.57em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    box-shadow: inset 1em 1em #34459b;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.login_container .login_button_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

button {
    outline: none !important;
    border: none;
}

.login_button_container button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

.login_button_container button:hover {
    background: #333;
    cursor: pointer;
}

.create_new_account_section {
    padding-top: 100px;
    text-align: center;
}

.create_new_account {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    color: #666;
    margin: 0;
    text-decoration: none;
    background-color: transparent;
}

.create_new_account:hover {
    text-decoration: none;
    color: #57b846;
}

@media screen and (max-width: 860px) {
    .login_container {
        width: 450px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        padding-bottom: 33px;
    }

    .logo_container {
        border-bottom-left-radius: 20% 20%;
        border-bottom-right-radius: 20% 20%;
    }
}

@media screen and (max-width: 460px) {
    html {
        background: white;
    }
}