header .links_container {
    display: flex;
    justify-content: center;
    background: #fff;
}

header .links_container div {
    padding: 5px 20px;
}

header a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

header a:hover {
    text-decoration: none;
    color: #57b846;
}

main {
    min-height: calc(100vh - 170px) !important;
    flex-direction: column;
}

.head_buttons_container {
    display: flex;
    justify-content: center;
}

.post_news_container {
    padding: 25px 10px;
}

.sort_news_container {
    padding: 25px 10px;
}

.news_section {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 500;
}

.news_item {
    max-width: 640px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 70px;
}

.news_item .news_item_header {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 15px;
}

.news_item .news_item_content {
    display: flex;
    flex-wrap: wrap;
}

.news_item .news_item_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    width: 100%;
}

.news_item .news_item_info .news_item_publication_date {
    color: #666;
    font-style: italic;
    padding-left: 30px;
}

.news_item .news_item_info .news_item_topics {
    font-weight: 500;
    color: #3a3a3a;
    max-width: 75%;
}

.news_item_topic {
    padding-right: 10px;
}