<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Bitcoin Price!</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../global/global.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="links_container">
            <div class="predict_btc_price_container">
                <a href="/predict_bitcoin_price/">Secret</a>
            </div>
            <div class="user_profile_container">
                <a href="/home/">Your profile</a>
            </div>
            <div class="login_container">
                <a href="/auth/">Login</a>
            </div>
            <div class="news_container">
                <a href="/news/">News</a>
            </div>
        </div>
        <div class="logo_container">
            <a href="/feed/">
                <img class="main_logo" src="content/main_logo.png" height="130" alt="logo_picture">
            </a>
        </div>
    </header>
    <main>
        <div class="skam_container">
            <div class="skam_text_container">
                <div class="skam_text">
                    hi there! heard u wanna some insides 'bout tommorow btc price... so ur on the right way! hurry up to
                    press
                    the button below and get success!!1!
                </div>
            </div>
            <div class="skam_button_container">
                <button class="skam_button" onclick="SKAMFUNCTION()">PREDICT</button>
            </div>
        </div>
    </main>
    <script>
        function SKAMFUNCTION() {
          alert("IT'S A SKAAAAAAAAAAAAAAAAAAAAAM!!!!!!!!!!!!!!\nDO NOT USE CRYPTO!!!!!!!!!!\nINVEST IN WATER!!!\nWATER NEVER LOSES ITS PRICE");
        }
        </script>
</body>

</html>