<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="content/head_icon.ico">
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <link rel="stylesheet" href="../global/global.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@400;500;700&display=swap"
        rel="stylesheet">
    <title>Register</title>
</head>

<body>
    <header>
        <div class="links_container">
            <div class="predict_btc_price_container">
                <a href="/predict_bitcoin_price/">Secret</a>
            </div>
            <div class="user_profile_container">
                <a href="/home/">Your profile</a>
            </div>
            <div class="login_container">
                <a href="/auth/">Login</a>
            </div>
            <div class="news_container">
                <a href="/news/">News</a>
            </div>
        </div>
        <div class="logo_container">
            <a href="/feed/">
                <img class="main_logo" src="content/main_logo.png" height="130" alt="logo_picture">
            </a>
        </div>
    </header>
    <main>
        <div class="register_container">
            <div class="register_pic">
                <img src="content/register_pic.png" alt="register_img">
            </div>
            <form class="register_form" method="POST" action="#">
                <span class="register_text">
                    Register
                </span>
                <div class="input_field">
                    <input type="login" name="login" placeholder="Login" required>
                    <span class="envelope">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <span class="error_msg login">Only latin letters allowed</span>
                <div class="input_field">
                    <input type="password" name="password" placeholder="Password" required>
                    <span class="lock">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <span class="error_msg password">Only letters and numbers allowed</span>
                <label class="remember_me">
                    <input type="checkbox" name="rememberMe" />
                    Remember me
                </label>
                <div class="register_button_container">
                    <button type="submit">REGISTER</button>
                </div>
                <div class="register_with_account_section">
                    <a class="register_with_account" href="../auth/">
                        Login with existing account
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </main>
    <script src="https://use.fontawesome.com/7305c4b8ac.js"></script>
    <script>
        window.onload = function () {
            document.getElementsByClassName("register_form")[0].onsubmit = function () {
                let res = true;
                if (!validate("login", /^[A-Za-z_0-9]+$/)) {
                    res = false;
                    document.getElementsByClassName("login")[0].style.display = "block";
                }
                if (!validate("password", /^[A-Za-zА-Яа-яЁё._0-9]+$/)) {
                    res = false;
                    document.getElementsByClassName("password")[0].style.display = "block";
                }
                return res;
            }
            document.getElementsByName("login")[0].onfocus = function () { document.getElementsByClassName("login")[0].style.display = "none"; };
            
            document.getElementsByName("password")[0].onfocus = function () { document.getElementsByClassName("password")[0].style.display = "none"; }
        }

        function validate(inputName, reg) {
            let input = document.getElementsByName(inputName)[0];
            if (!input.value.match(reg)) {
                input.value = "";
                return false;
            }
            return true;
        }
    </script>
</body>

</html>